singularity.enabled = true
singularity.cacheDir = "$baseDir/scr/sif_images"
conda.enabled = true


executor {
    $slurm {
        // total number of jobs that can be submitted at the same time
        queueSize = 40
    }

    $local {
        cpus = 8
        process.conda = 'env/write_samplesheet_env.yml'
        // total number of jobs that can be submitted at the same time
        queueSize = 10
        
    }
}

profiles {
    // local
    standard {
        process.conda = 'env/write_samplesheet_env.yml'
        process.executor = 'local'
        process.cpus = 8

        process {
        withName: 'check_fastq_files_with_skewer_p' {
                container = 'quay.io/biocontainers/skewer:0.2.2--hc9558a2_3'
            }
        }
    }

    cluster {
        process {
            conda = 'env/write_samplesheet_env.yml'

            executor = 'slurm'



            withName: 'check_fastq_files_with_skewer_p' {
                container = 'quay.io/biocontainers/skewer:0.2.2--hc9558a2_3'
                    }


            // withLabel: 'q_big' {
            //     time = '06:00:00'
            //     cpus = 20
            //     memory = '20G'
            //     clusterOptions = '--qos=6hours'
            // }

            withLabel: 'q_medium' {
                time = '06:00:00'
                cpus = 8
                memory = '10G'
                clusterOptions = '--qos=6hours'
            }

            withLabel: 'q_mini' {
                time = '00:30:00'
                cpus = 1
                memory = '1G'
                clusterOptions = '--qos=30min'
            }
        }
    }
}
